@* Service Hours Edit Modal *@
<div class="modal fade" id="serviceHoursModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Community Service Hours</h4>
            </div>
            <div class="modal-body">
                <p>Enter the amount of community service hours you have completed:
                    <select id="serviceHoursSelect" class="form-control">
                        @for( i <- 0 to 40) {
                            @if( i == 1 ) {
                                <option value="@i">@i hour</option>
                            } else {
                                <option value="@i">@i hours</option>
                            }
                        }
                    </select>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" ng-click="updateServiceHours()" class="btn btn-primary">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->