@(User: User, allowEditing: Boolean)
<div id="sophomoreExpanded" style="display: none;">
    <div class="page-header">
        <h2>@if(allowEditing) { @User.getFirstName(), let's start building your Sophomore schedule... } else { @User.getFirstName()'s Sophomore Year }
            <div class="pull-right">
                <span class="mzhidden savedText"><span class="glyphicon glyphicon-ok"></span> Saved!</span>
                <a href="" ng-click="save(false)" class="btn btn-primary" id="sophomoreContract"><span class="glyphicon glyphicon-arrow-left"></span> Save and go back</a>
                <a href="" ng-click="save(true)" class="margin-left: 10px; btn btn-primary" id="save"><span class="glyphicon glyphicon-ok"></span> Save</a>
            </div>
        </h2>
    </div>

    <div class="pull-left" style="width: 44%">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Your Schedule</h2>
            </div>
            <div class="panel-body">
                <div class="firstSemester">
                    <h4>First Semester</h4>
                    <ol class="classList">
                        <li ng-repeat="class in sophomoreClasses | filter:firstSemester">
                            <a href="" ng-click="showCourseDetails(class.id)">{{class.name}}</a>
                            @if(allowEditing) {
                                <span ng-click="removeCourse(class.id, 'sophomore')" class="glyphicon glyphicon-remove"></span>
                            }
                            <span ng-show="(class.id == sophomoreTopCourse[0].id)" class="glyphicon glyphicon-star"></span>
                        </li>
                    </ol>
                </div>

                <div class="secondSemester">
                    <h4>Second Semester</h4>
                    <ol class="classList">
                        <li ng-repeat="class in sophomoreClasses | filter:secondSemester">
                            <a href="" ng-click="showCourseDetails(class.id)">{{class.name}}</a>
                            @if(allowEditing) {
                                <span ng-click="removeCourse(class.id, 'sophomore')" class="glyphicon glyphicon-remove"></span>
                            }
                            <span ng-show="(class.id == sophomoreTopCourse[0].id)" class="glyphicon glyphicon-star"></span>
                        </li>
                    </ol>
                </div>
                <div style="clear: both"></div>

            </div>

            <div class="panel-footer">
            @if(allowEditing) {
                <input type="text" placeholder="Start typing to add a course..." style="height: 26px;" id="sophomoreCourseSelect" class="form-control typeahead tt-query" />
            }
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">P.E Credit Selections</h3>
            </div>
            <div class="panel-body">
                <div class="sports">
                    <ol class="classList">
                        <li ng-repeat="class in sophomoreClasses | filter:PECredit">
                            <a href="" ng-click="showCourseDetails(class.id)">{{class.name}}</a>
                            @if(allowEditing) { <span ng-click="removeCourse(class.id, 'sophomore')" class="glyphicon glyphicon-remove"></span> }
                            <span ng-show="(class.id == sophomoreTopCourse[0].id)" class="glyphicon glyphicon-star"></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="panel-footer">
            @if(allowEditing) {
                <input type="text" placeholder="Start typing to add a P.E credit selection..." style="height: 26px;" id="sophomorePESelect" class="form-control typeahead tt-query" />
            }
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Top Choice</h3>
            </div>
            <div class="panel-body">
                <p>Some students feel strongly about taking a particular course. If this sounds like you, please select your top course below.</p>
                <ul>
                    <li ng-repeat="class in sophomoreTopCourse" ng-show="(sophomoreTopCourse).length != 0">
                        @if(allowEditing) { You've } else { @User.getFirstName() has } selected <strong>{{class.name}}</strong> as @if(allowEditing) {your} else {their} top course.  <br />  <br />
                    </li>
                </ul>

                @if(allowEditing) {
                    <input type="text" placeholder="Start typing to choose a top course..." style="height: 26px;" id="sophomoreTopCourseSelect" class="form-control typeahead tt-query" />
                    <span ng-click="clearTopCourse('sophomore')" class="clearBtn btn btn-default">Clear</span>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <p>Use this area to keep track of other time-consuming commitments: sports, independent studies, community service projects, etc.</p>
                <textarea id="sophomoreNotes" class="notes form-control" rows="15" cols="25"></textarea>
            </div>
        </div>
    </div>

    <div class="pull-right" style="width: 53%; margin-top:-11px;">

        <span ng-show="(sophomoreBucketCount).length != 0">
            <h3>Required Courses</h3>
            <p>You are required to take the following courses. Select the courses to add them to your schedule. If there are multiple choices, select one to fulfill the requirement.</p>

            <ul id="requirementBuckets">
                <li ng-repeat="requirement in courseRequirements|filter:sophomoreBuckets">
                    <span ng-show="checkRequirements(requirement.id, requirement.requiredFor)" class="glyphicon glyphicon-check"></span>&nbsp;
                    <span ng-class="{completedRequirement: requirement.satisfied}" style="font-weight: bold">{{requirement.name}}</span>
                    <ul id="requiredCourses">
                        <li @if(allowEditing){ ng-click="addRequiredCourse(requirement.id, requiredCourse.id)" }ng-repeat="requiredCourse in requirement.courseList">
                        @if(allowEditing){ <a href=""> }
                        {{requiredCourse.name}}
                        @if(allowEditing) { </a> }
                </li>
            </ul>
            </li>

            </ul>
        </span>
        <span ng-show="!(sophomoreClasses).length">As you add courses, the requirements and other things to note about the courses you selected will appear here.</span>

        <hr>
        <h3>Course Requirements</h3>

        <ul>
            <li ng-repeat="class in sophomoreClasses" ng-show="requirementsNotEmpty(class.otherRequirements)">
                <h5 style="font-weight:bold;">{{class.name}}</h5>
                <p>{{class.otherRequirements}}</p>
            </li>
        </ul>

        <hr>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sophomore Year - At a Glance</h3>
            </div>
            <div class="panel-body">
            @defining(Application._getAppSettings()) { Settings=>
                @Settings.getSophomoreMessage()
            }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">The Math Flowchart</h3>
            </div>
            <div class="panel-body">
                <a data-toggle="modal" data-target="#mathModal" href="#mathModal"> <img width="100%" src="@routes.Assets.at("images/mathchart.png")"> </a>
            </div>
        </div>
    </div>
</div>